<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ControlCar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/paper-dashboard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="main-panel">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div style="display: flex;flex: 1;width: 100%;">
                        <h2 style="font-size: 33px;padding: 2px 20px;margin: 0;">@ViewData["Title"]</h2>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
            </header>
            <div class="container-fluid" style="padding: 0 30px 0 30px; ">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <div class="sidebar" data-color="white" data-background-color="white" data-active-color="info">
        <div class="logo">
            <a href="#" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img src="../assets/img/logo-small.png">
                </div>
            </a>
            <a asp-controller="Home" class="simple-text logo-normal">ControlCar</a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                    <i class="nc-icon nc-bank"></i>
                    <a class="nav-link text-dark" asp-area="" asp-controller="#" asp-action="Index">Agendamentos</a>
                </li>
                <li class="nav-item">
                    <i class="nc-icon nc-bank"></i>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Drivers" asp-action="Index">Motorista</a>
                </li>
                <li class="nav-item">
                    <i class="nc-icon nc-bank"></i>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Index">Veículos</a>
                </li>
                <li class="nav-item">
                    <i class="nc-icon nc-bank"></i>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Routes" asp-action="Index">Rotas</a>
                </li>
                <li class="nav-item">
                    <i class="nc-icon nc-bank"></i>
                    <a class="nav-link text-dark" asp-area="" asp-controller="#" asp-action="Index">Relatórios</a>
                </li>
                <li class="nav-item">
                    <i class="nc-icon nc-bank"></i>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Index">Usuários</a>
                </li>
            </ul>
        </div>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <!--   Core JS Files   -->
    <script src="~/js/core/jquery.min.js"></script>
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/paper-dashboard.min.js" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>
</html>
