@model ControlCar.Models.ViewModel.SchedulingViewModel

@{
    ViewData["Title"] = "Agendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExpectedStartDate" class="control-label"></label>
                <input asp-for="ExpectedStartDate" class="form-control" />
                <span asp-validation-for="ExpectedStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedEndDate" class="control-label"></label>
                <input asp-for="ExpectedEndDate" class="form-control" />
                <span asp-validation-for="ExpectedEndDate" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: flex;flex-direction: column;">
                <label asp-for="IdDriver" class="control-label"></label>
                <select asp-for="IdDriver" asp-items="@(new SelectList(Model.Drivers, nameof(Driver.IdDriver), nameof(Driver.DriverDesc)))">
                    <option>Selecione um motorista</option>
                </select>
                <span asp-validation-for="Drivers" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: flex;flex-direction: column;">
                <label asp-for="IdVehicle" class="control-label"></label>
                <select asp-for="IdVehicle" asp-items="@(new SelectList(Model.Vehicles, nameof(Vehicle.IdVehicle), nameof(Vehicle.Model)))">
                    <option>Selecione um veículo</option>
                </select>
                <span asp-validation-for="Vehicles" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: flex;flex-direction: column;">
                <label asp-for="IdRoute" class="control-label"></label>
                <select asp-for="IdRoute" asp-items="@(new SelectList(Model.Routes, nameof(Route.IdRoute), nameof(Route.RouteDesc)))">
                    <option>Selecione uma rota</option>
                </select>
                <span asp-validation-for="Routes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ver agendamentos</a>
</div>

